test/services/signature/SDCFromJSON.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xyzmo.egraphs.ipad/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://xyzmo.egraphs.ipad/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://xyzmo.egraphs.ipad/">
      <s:element name="GetSignatureDataContainerFromJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSignatureDataContainerFromJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSignatureDataContainerFromJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSignatureDataContainerFromJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetSignatureDataContainerFromJSON" />
  </wsdl:message>
  <wsdl:message name="GetSignatureDataContainerFromJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetSignatureDataContainerFromJSONResponse" />
  </wsdl:message>
  <wsdl:portType name="SDCFromJSONSoap">
    <wsdl:operation name="GetSignatureDataContainerFromJSON">
      <wsdl:input message="tns:GetSignatureDataContainerFromJSONSoapIn" />
      <wsdl:output message="tns:GetSignatureDataContainerFromJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SDCFromJSONSoap" type="tns:SDCFromJSONSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSignatureDataContainerFromJSON">
      <soap:operation soapAction="http://xyzmo.egraphs.ipad/GetSignatureDataContainerFromJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SDCFromJSONSoap12" type="tns:SDCFromJSONSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSignatureDataContainerFromJSON">
      <soap12:operation soapAction="http://xyzmo.egraphs.ipad/GetSignatureDataContainerFromJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDCFromJSON">
    <wsdl:port name="SDCFromJSONSoap" binding="tns:SDCFromJSONSoap">
      <soap:address location="http://sales.xyzmo.com/SCDFromJSON/SDCFromJSON.asmx" />
    </wsdl:port>
    <wsdl:port name="SDCFromJSONSoap12" binding="tns:SDCFromJSONSoap12">
      <soap12:address location="http://sales.xyzmo.com/SCDFromJSON/SDCFromJSON.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>